@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
  display: inline-block;
  overflow-y: hidden;
}

figure img {
  width: 100%;
}

img {
  display: block;
}

body {
  font-family: "Outfit", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Big Shoulders", sans-serif;
  font-weight: 900;
}

a {
  font-family: "Big Shoulders", sans-serif;
  font-weight: 800;
}

p {
  font-size: 18px;
  line-height: 28px;
}
@media (min-width: 1440px) {
  p {
    font-size: 22px;
    line-height: 32px;
  }
}

@media (min-width: 768px) {
  .hero {
    display: flex;
    margin-bottom: 120px;
  }
}
@media (min-width: 1440px) {
  .hero {
    max-width: 1440px;
    position: relative;
    margin: 0 auto 180px;
  }
  .hero::before {
    content: "";
    width: 33%;
    background-color: #151515;
    position: absolute;
    top: 0;
    bottom: 4px;
    left: 0;
  }
}
@media (min-width: 1440px) {
  .hero .hero-imgs {
    position: relative;
  }
}
.hero .hero-imgs figure.mobile {
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .hero .hero-imgs figure.mobile {
    display: none;
  }
}
.hero .hero-imgs figure:last-of-type {
  display: none;
}
@media (min-width: 768px) {
  .hero .hero-imgs figure:last-of-type {
    display: block;
    width: 439px;
  }
}
@media (min-width: 1200px) {
  .hero .hero-imgs figure:last-of-type img {
    width: auto;
  }
}
@media (min-width: 1440px) {
  .hero .hero-imgs figure:last-of-type {
    margin-left: 450px;
  }
  .hero .hero-imgs figure:last-of-type img {
    height: auto;
  }
}
.hero .hero-content {
  padding: 0 16px;
}
@media (min-width: 768px) {
  .hero .hero-content {
    position: absolute;
    top: 145px;
    left: 389px;
    padding: 0 40px 0 0;
  }
}
@media (min-width: 1024px) {
  .hero .hero-content {
    padding: 0 80px 0 0;
    top: 157px;
  }
}
@media (min-width: 1200px) {
  .hero .hero-content {
    padding: 35px 120px 0 105px;
  }
}
@media (min-width: 1440px) {
  .hero .hero-content {
    padding: 0 164px 0 0;
  }
}
.hero .hero-content h1 {
  width: 80%;
  font-size: 58px;
  line-height: 55px;
}
@media (min-width: 768px) {
  .hero .hero-content h1 {
    width: 94%;
    font-size: 68px;
    line-height: 63px;
  }
}
@media (min-width: 1200px) {
  .hero .hero-content h1 span {
    display: block;
  }
}
@media (min-width: 1440px) {
  .hero .hero-content h1 {
    position: absolute;
    top: 25px;
    left: -208px;
    font-size: 90px;
    line-height: 88px;
    color: white;
  }
}
@media (min-width: 1440px) {
  .hero .hero-content .hero-subcontent {
    margin-left: 535px;
  }
}
.hero .hero-content .hero-subcontent p {
  margin: 32px 0;
}
@media (min-width: 768px) {
  .hero .hero-content .hero-subcontent p {
    margin: 48px 0;
  }
}
@media (min-width: 1440px) {
  .hero .hero-content .hero-subcontent p {
    margin: 25px 0 64px;
  }
}
.hero .hero-content .hero-subcontent .hero-btn .btn-1 {
  margin-bottom: 120px;
}

.experience h2 {
  margin-bottom: 24px;
  font-size: 48px;
  line-height: 45px;
}
@media (min-width: 1440px) {
  .experience h2 {
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 768px) {
  .experience .first-exp {
    display: flex;
    flex-direction: row-reverse;
    gap: 60px;
    margin-bottom: 11px;
  }
}
@media (min-width: 1024px) {
  .experience .first-exp {
    margin-bottom: 20px;
    gap: 100px;
  }
}
@media (min-width: 1440px) {
  .experience .first-exp {
    gap: 125px;
    margin-bottom: 31px;
  }
}
.experience .first-exp figure:first-of-type {
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .experience .first-exp figure:first-of-type {
    margin-bottom: 0;
  }
  .experience .first-exp figure:first-of-type img {
    width: 398px;
  }
}
@media (min-width: 1200px) {
  .experience .first-exp figure:first-of-type {
    display: none;
  }
}
.experience .first-exp figure.desktop {
  display: none;
}
@media (min-width: 1200px) {
  .experience .first-exp figure.desktop {
    display: block;
  }
  .experience .first-exp figure.desktop img {
    width: 500px;
  }
}
@media (min-width: 1440px) {
  .experience .first-exp figure.desktop img {
    width: auto;
  }
}
@media (min-width: 768px) {
  .experience .first-exp .description-1 {
    padding-top: 36px;
  }
}
@media (min-width: 1440px) {
  .experience .first-exp .description-1 {
    padding-top: 62px;
  }
}
.experience .first-exp .description-1 h2 span {
  display: block;
}
@media (min-width: 1440px) {
  .experience .first-exp .description-1 h2 span {
    display: inline;
  }
}
.experience .first-exp .description-1 p {
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .experience .inspiration {
    display: flex;
    gap: 11px;
  }
}
@media (min-width: 1024px) {
  .experience .inspiration {
    gap: 20px;
  }
}
@media (min-width: 1200px) {
  .experience .inspiration {
    gap: 25px;
  }
}
@media (min-width: 1440px) {
  .experience .inspiration {
    gap: 30px;
  }
}
.experience .inspiration .gallery_2 {
  margin-bottom: 16px;
}
.experience .inspiration .gallery_2 img {
  height: 480px;
}
@media (min-width: 768px) {
  .experience .inspiration .gallery_2 img {
    width: 398px;
    height: 720px;
  }
}
@media (min-width: 1200px) {
  .experience .inspiration .gallery_2 img {
    width: 500px;
  }
}
@media (min-width: 1440px) {
  .experience .inspiration .gallery_2 img {
    width: auto;
  }
}
.experience .inspiration .inspiration-content figure:first-of-type {
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .experience .inspiration .inspiration-content figure:first-of-type {
    display: none;
  }
}
@media (min-width: 1024px) {
  .experience .inspiration .inspiration-content figure:first-of-type {
    display: block;
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .experience .inspiration .inspiration-content figure:first-of-type {
    margin-bottom: 25px;
  }
}
@media (min-width: 1440px) {
  .experience .inspiration .inspiration-content figure:first-of-type {
    margin-bottom: 30px;
  }
}
.experience .inspiration .inspiration-content .gallery-tablet {
  display: none;
}
@media (min-width: 768px) {
  .experience .inspiration .inspiration-content .gallery-tablet {
    margin-bottom: 11px;
    display: block;
  }
  .experience .inspiration .inspiration-content .gallery-tablet img {
    height: 313px;
  }
}
@media (min-width: 1024px) {
  .experience .inspiration .inspiration-content .gallery-tablet {
    display: none;
  }
}
.experience .inspiration .inspiration-content .description-2 {
  color: white;
  background-color: #151515;
  padding: 48px 24px;
  margin-bottom: 120px;
}
@media (min-width: 768px) {
  .experience .inspiration .inspiration-content .description-2 {
    padding: 84px 28px;
  }
}
@media (min-width: 1024px) {
  .experience .inspiration .inspiration-content .description-2 {
    padding: 92px 52px;
  }
}
@media (min-width: 1200px) {
  .experience .inspiration .inspiration-content .description-2 {
    padding: 94px 52px;
  }
}
@media (min-width: 1440px) {
  .experience .inspiration .inspiration-content .description-2 {
    padding: 63px 48px;
    margin-bottom: 180px;
  }
}

.location-info {
  background-color: #151515;
  padding: 48px 16px;
  color: white;
}
@media (min-width: 768px) {
  .location-info {
    display: flex;
    padding: 88px 40px 80px;
    gap: 68px;
  }
}
@media (min-width: 1024px) {
  .location-info {
    padding: 90px 80px 85px;
    gap: 140px;
  }
}
@media (min-width: 1200px) {
  .location-info {
    padding: 95px 120px 110px;
    gap: 180px;
  }
}
@media (min-width: 1440px) {
  .location-info {
    padding-block: 104px 128px;
    gap: 220px;
  }
}
.location-info h3 {
  margin-bottom: 48px;
  line-height: 43px;
  font-size: 48px;
}
@media (min-width: 1440px) {
  .location-info h3 {
    font-size: 70px;
    line-height: 70px;
  }
}
.location-info .info h4 {
  color: #d5966c;
  font-size: 30px;
  margin-bottom: 20px;
}
@media (min-width: 1440px) {
  .location-info .info h4 {
    font-size: 36px;
    margin-bottom: 24px;
  }
}
@media (min-width: 768px) {
  .location-info .info p {
    width: 90%;
  }
}
.location-info .info p:first-of-type {
  margin-bottom: 20px;
}
.location-info .info p:first-of-type span {
  display: block;
}
@media (min-width: 1440px) {
  .location-info .info p:first-of-type {
    margin-bottom: 32px;
  }
}

.btn-1:hover span,
.btn-2:hover span {
  background-color: #d5966c;
}
.btn-1:hover img,
.btn-2:hover img {
  background-color: #151515;
}
.btn-1,
.btn-2 {
  display: inline-flex;
  align-items: center;
}
.btn-1 span,
.btn-2 span {
  background-color: #151515;
  color: white;
  padding: 24px 32px 24px 35px;
  font-size: 20px;
}
.btn-1 img,
.btn-2 img {
  background-color: #d5966c;
  padding: 23.5px;
}

.container {
  padding-inline: 16px;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    padding-inline: 40px 39px;
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    padding-inline: 80px 81px;
    max-width: 1040px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding-inline: 120px 121px;
    max-width: 1200px;
  }
}
@media (min-width: 1440px) {
  .container {
    padding-inline: 164px 165px;
    max-width: 1440px;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    background: linear-gradient(to right, #151515 50%, white 50%);
  }
}

.location main {
  background-color: #151515;
}
.location main .location-map .map-2,
.location main .location-map .map-tablet {
  width: 100%;
  display: none;
}
.location main .location-map .map-mobile {
  width: 100%;
}
@media (min-width: 768px) {
  .location main .location-map .map-mobile {
    display: none;
  }
}
@media (min-width: 768px) {
  .location main .location-map .map-tablet {
    display: block;
  }
}
@media (min-width: 1440px) {
  .location main .location-map .map-tablet {
    display: none;
  }
}
@media (min-width: 1440px) {
  .location main .location-map .map-2 {
    display: block;
  }
}
.location main .location-map .btn-2 {
  position: absolute;
  top: 0;
  left: 0;
}
@media (min-width: 768px) {
  .location main .location-map .btn-2 {
    left: 39px;
  }
}
@media (min-width: 1440px) {
  .location main .location-map .btn-2 {
    left: 156px;
  }
}
@media (min-width: 1900px) {
  .location main .location-map .btn-2 {
    left: 405px;
  }
}

footer.home {
  background-color: #151515;
  color: white;
}
footer.location {
  background-color: #d5966c;
  color: #151515;
}
footer .footer__container {
  padding: 48px 32px;
}
@media (min-width: 768px) {
  footer .footer__container {
    display: flex;
    padding: 56px 40px;
    align-items: flex-start;
  }
}
@media (min-width: 1024px) {
  footer .footer__container {
    padding: 64px 80px;
  }
}
@media (min-width: 1200px) {
  footer .footer__container {
    padding: 72px 120px;
  }
}
@media (min-width: 1440px) {
  footer .footer__container {
    padding: 80px 165px;
  }
}
footer .footer__container img.logo {
  width: 110px;
}
@media (min-width: 1440px) {
  footer .footer__container img.logo {
    width: 160px;
  }
}
footer .footer__container p {
  margin: 38px 0;
  font-size: 16px;
  line-height: 26px;
}
@media (min-width: 768px) {
  footer .footer__container p {
    margin: 0 133px 0 65px;
  }
}
@media (min-width: 1024px) {
  footer .footer__container p {
    margin: 0 180px 0 90px;
  }
}
@media (min-width: 1200px) {
  footer .footer__container p {
    margin: 0 235px 0 130px;
  }
}
@media (min-width: 1440px) {
  footer .footer__container p {
    font-size: 18px;
    line-height: 28px;
    margin: 0 280px 0 140px;
  }
}
footer .footer__container .social-media-icons {
  display: flex;
  gap: 20px;
}
footer .footer__container .social-media-icons img {
  width: 20px;
}

/*# sourceMappingURL=style.css.map */
