@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

.location-info {
  background-color: v.$black;
  padding: 48px 16px;
  color: white;
  @include m.breakpoint(tablet) {
    display: flex;
    padding: 88px 40px 80px;
    gap: 68px;
  }
  @include m.breakpoint(tablethorizontal) {
    padding: 90px 80px 85px;
    gap: 140px;
  }
  @include m.breakpoint(desktop) {
    padding: 95px 120px 110px;
    gap: 180px;
  }
  @include m.breakpoint(desktopxl) {
    padding-block: 104px 128px;
    gap: 220px;
  }
  h3 {
    margin-bottom: 48px;
    line-height: 43px;
    font-size: 48px;
    @include m.breakpoint(desktopxl) {
      font-size: 70px;
      line-height: 70px;
    }
  }
  .info {
    h4 {
      color: v.$brown;
      font-size: 30px;
      margin-bottom: 20px;
      @include m.breakpoint(desktopxl) {
        font-size: 36px;
        margin-bottom: 24px;
      }
    }
    p {
      @include m.breakpoint(tablet) {
        width: 90%;
      }
      &:first-of-type {
        margin-bottom: 20px;
        span {
          display: block;
        }
        @include m.breakpoint(desktopxl) {
          margin-bottom: 32px;
        }
      }
    }
  }
}
